@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body, button, select, textarea{
    font-family: 'Roboto', sans-serif;
}

html, body{
    margin: 0;
}

:root{
   --dark-blue: #1D1D1D;
   --light-gray:#BFBFC1;
}
/* 

*/

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 350px;
    height: 700px;
    background: var(--dark-blue);
    border-radius: 45px;
    border: 16px solid black;
    color: whitesmoke;
    text-align: center;
    margin: 200px 0px;
}
.container .notch{
    width: 130px;
    height: 17px;
    background: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: calc(50% - 65px);
}

h2{
    margin: 80px 0 10px 0;
}
h4{
    margin: 0 0 25px 0;
    font-weight: 100;
}
.container svg{
    width: 80px;
    height: 80px;
    margin: 20px 0;
}
.container .linha{
    width: 90px;
    height: 2px;
    background: var(--light-gray);
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
}

.container .week{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    text-align: left;
    margin-top: 50px;
    padding: 0 10px 0 20px;
    color: var(--light-gray);
}

.container .week span{
    
    font-size: 20px;
    font-weight: 200;
}